
.clip-art:before {
    content: " "; 
        display: block; 
        width: 0; 
        height: 0;
        border-top: 9px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid hsl(200, 33%, 58%);
        position: absolute;
        top: 50%;
        margin-top: -9px; 
        right: 100%;
        z-index: 2; 
    }
    
    .clip-art {
    background-color: hsl(200, 33%, 58%);
        color: white;
    text-transform: uppercase;
        padding: 1px 4px 1px 2px;
        background: hsl(200, 33%, 58%);
        position: relative; 
        display: block;
        float: left;
    position:relative;
    font-size: 10px;
    height: 15px;
    }
      
      