@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/tag-art.css" />
    <link rel="stylesheet" href="~/css/ajustes.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h6 class="navbar-brand texto-negrito" href="#">MiniNotes</h6>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    @* MAIN *@
    <main class="container">
        <!-- LOGO + BARRA PESQUISA -->
        <div class="container m-2">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h6 class="logo-style">USER NAME</h6>
                </div>
                <div class="col-12 mb-2">
                    <input type="text" class="form-control" placeholder="Search Notes">
                </div>
            </div>
        </div>
        <p class="linha-cadastro"></p>
        <!-- TAGS -->
        <div class="container">
            <div class="row justify-content-center">
                <h6 class="col-auto texto-negrito">TAGS</h6>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="clip-art mr-3 mb-3">&#8226; All</div>
                    <div class="clip-art mr-3 mb-3">&#8226; School</div>
                    <div class="clip-art mr-3 mb-3">&#8226; Music</div>
                    <div class="clip-art mr-3 mb-3">&#8226; House</div>
                    <div class="clip-art mr-3 mb-3">&#8226; Shildren</div>
                    <div class="clip-art mr-3 mb-3">&#8226; Tests</div>
                </div>
            </div>
        </div>
        <p class="linha-cadastro"></p>
        <!-- LISTAGEM -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Desc.</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

