@model MiniNotes.Models.ViewModels.UserViewModel

@{
    Layout = "_LayoutDash";
}


<div class="container">
    <!-- LOGO + BARRA PESQUISA -->
    <section id="logo-bar" class="">
        <div class="container m-2">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h6 class="logo-style">@Model.User.UserName</h6>
                </div>
                <div class="col-12 mb-2">
                    <input type="text" class="form-control" placeholder="Search Notes">
                </div>
            </div>
        </div>
    </section>
    <p class="linha-cadastro"></p>
    <!-- TAGS -->
    <section id="tags">
        <div class="container">
            <div class="row justify-content-center">
                <h6 class="col-auto texto-negrito">TAGS</h6>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="clip-art mr-3 mb-3">&#8226; All</div>
                    <div class="clip-art mr-3 mb-3">&#8226; School</div>
                    <div class="clip-art mr-3 mb-3">&#8226; Music</div>
                    <div class="clip-art mr-3 mb-3">&#8226; House</div>
                    <div class="clip-art mr-3 mb-3">&#8226; Shildren</div>
                    <div class="clip-art mr-3 mb-3">&#8226; Tests</div>
                </div>
            </div>
        </div>
    </section>
    <p class="linha-cadastro"></p>
    <!-- LISTAGEM -->
    <section id="list">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Desc.</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>
                                    <button class="btn btn-primary">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>





