<div class="container mt-5">


    @if (TempData["INDEX_ERROR_MSG"] != null)
    {
        <div class="alert alert-danger mt-5 alert-dismissible fade show" role="alert">
            <strong>@TempData["INDEX_ERROR_MSG"]!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (TempData["CREATED_ACCOUNT_MSG"] != null)
    {
        <div class="alert alert-success mt-5 alert-dismissible fade show" role="alert">
            <strong>Wellcome @TempData["USER_NAME_ACCOUNT"]!</strong> @TempData["CREATED_ACCOUNT_MSG"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger mt-5 alert-dismissible fade show" role="alert">
            <strong>@ViewBag.Error</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-primary mt-5 alert-dismissible fade show" role="alert">
            <strong>Wellcome</strong> to MiniNotes! It's free!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row justify-content-center">
        <div class="col-auto mt-5 card-login">
            <div class="card shadow bg-white rounded">
                <div class="card-header">
                    MiniNotes - Authentication
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <h5 class="card-title logo-marca sshadow-sm bg-white rounded">MiniNotes</h5>
                        <img src="https://img.icons8.com/plasticine/48/000000/edit-property.png" />
                        <img src="https://img.icons8.com/plasticine/48/000000/delete-sign.png" />
                        <img src="https://img.icons8.com/plasticine/48/000000/price-tag.png" />
                    </div>
                    <form asp-action="Index">
                        <div class="form-group">
                            <input type="text" name="login" id="login" class="form-control" placeholder="Email or User Name">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="btn-group d-flex">
                            <button type="submit" class="btn btn-primary" asp-action="Index">Login</button>
                            <a class="btn btn-outline-success ml-1" asp-action="Create">Cretae Accounnt</a>
                        </div>
                        <a class="font-weight-bold text-secondary d-block text-center mt-3" href="#">I Forget</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
